{% extends 'base.html' %}

{% block title %}500. Unexpected error{% endblock title %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">

        <h1>500</h1>
        <h2>Erro interno inesperado</h2>
        <div class="desktop-6">
            <p>Oops.</p>
            <p>We had an error and our team is already working to fix it.<br />
               Contact us <a href="mailto:suporte@eventex.com.br?subject=500 Erro interno inesperado">raphaelcmacedo@hotmail.com</a></p>
        </div>
    </div>
</section>
{% endblock content %}
